<div>
    <p>You have received a new message.</p>
    <br>
    <p><b>Sender's Name-</b> <%=message.name%></p>
    <p><b>Sender's Email-</b> <%=message.email%></p>
    <p><b>Sender's Message-</b> <%=message.message%></p>
</div>