<div>
    <p>Click the link below to reset your password</p>
    <br>
    <br>
    <br>
    <p><a href="http://online-banking-application.xyz/user/reset-password/<%=resetPassword.accesstoken%>">Reset Password</a></p>
    <br>
    <br>
    <p>Thanks</p>
</div>