<div>
    <p>Click the link below to reset your password</p>
    <br>
    <br>
    <br>
    <p><a href="http://localhost:9000/user/reset-password/<%=resetPassword.accesstoken%>">Reset Password</a></p>
    <br>
    <br>
    <p>Thanks</p>
</div>