<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/faq.css">
    </head>
    <body>
        <div class="container mt-3">
            <div class="container-fluid text-center bg-dark py-1 header">
                <p class="text-warning heading p-0 m-0">The Online Bank</p>
            </div>
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/user/">HOME</a>
                        </li>
                        <% if(locals.user) {%>
                            <li class="nav-item">
                                <a class="nav-link" href="/user/profile">PROFILE</a>
                            </li>
                        <% } else {%>
                            <li class="nav-item">
                                    <a class="nav-link" href="/user/login">LOGIN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/user/signup">SIGNUP</a>
                            </li>
                        <% } %>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/branches">BRANCHES</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/user/faq">HELP & FAQ</a>
                        </li> 
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                DOWNLOADS
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/downloads/new-account-form.pdf" download="account-form.pdf">New Account Form</a>
                                <a class="dropdown-item" href="/downloads/home_loan_application_form .pdf" download="home-loan-form.pdf">Home Loan</a>
                                <a class="dropdown-item" href="/downloads/Car_Loan_Application_Form.pdf" download="car-loan-form">Car Loan</a>
                                <a class="dropdown-item" href="/downloads/education_loan_application_form.pdf" download="education-loan-form.pdf">Educational Loan</a>
                                <a class="dropdown-item" href="/downloads/ChequeBook_Request.pdf" download="checkbook-request-form">Cheque Book Request</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/contact">CONTACT US</a>
                        </li>          
                    </ul>
                </div>  
            </nav>
            <div class="container-fluid box">
                <div class="faq-header">
                    Frequently Asked Questions
                </div>
                <div class="faq-box">
                    <ul>
                        <li>
                             What is Inter Bank Fund Transfer ? 
                        </li>
                        <p>
                            <span class="faq-answer">Answer:</span>&nbsp; Inter Bank Transfer is a special service that allows you to transfer funds from your account with a Bank, to a Bank account with any other Bank in India.</td>
                        </p>
                        <li>
                             Can I transfer funds to an account in any Bank Branch in India through RTGS/NEFT?
                        </li>
                        <p>
                            <span class="faq-answer">Answer:</span>&nbsp; The acronym "NEFT" stands for National Electronic Funds Transfer. Funds are transferred to the credit account with the other participating Bank using RBI's NEFT service.The acronym "RTGS" stands for Real Time Gross Settlement. The RTGS system facilitates transfer of funds from accounts in one bank to another on a "real time". The RTGS system is the fastest possible interbank money transfer facility available through secure banking channels in India.
                            The fund transfer through RTGS/NEFT can be done ONLY to any RTGS/NEFT enabled Bank Branch in India.
                        </p>
                        <li>
                            Are there any BANK CHARGES levied for Online Interbank Fund Transfer through RTGS/NEFT?
                        </li>
                        <p>
                            <span class="faq-answer">Answer:</span>&nbsp; Presently,our Bank do NOT levy any CHARGES for Online Interbank Fund Transfer through RTGS/NEFT done from our Internet Banking Services.
                        </p>
                        <li>
                            What is the mandatory requirement for doing an Online Interbank Fund Transfer through RTGS/NEFT?
                        </li>
                        <p>
                            <span class="faq-answer">Answer:</span>&nbsp; The following information about the Beneficiary is mandatory -<br>
                                1. Beneficiary Name<br>
                                2. Beneficiary Address<br>
                                3. Beneficiary Account Number<br>
                                4. Beneficiary Account Type (only in case of NEFT)<br>
                                5. IFSC Code of the Beneficiary's Bank Branch
                        </p>
                        <li>
                            What are the timings for doing these Transactions?
                        </li>
                        <p>
                            <span class="faq-answer">Answer:</span>&nbsp; Presently, the NEFT transactions can be done any time, however, credits to the beneficiary account shall be on same day/ immediate next working day depending on the time of payment and beneficiary bank. Presently, the RTGS timings* on any given working day is as under -<br><br>
                               <span class="faq-answer">Week Days</span> : 09:15 a.m. - 03:45 pm<br>
                               <span class="faq-answer">Saturday</span> : 09:15 a.m. - 11:45 a.m.<br><br>
                               *Timings, above are subject to change
                        </p>
                        <li>
                            Where do I find IFSC Code ?
                        </li>
                        <p>
                            <span class="faq-answer">Answer:</span>&nbsp; IFSC Code can be found on our Internet Banking Site, during the addition of Beneficiary based on the Beneficiary's Bank. Alternatively, it can also be found at our site.
                        </p>
                        <li>
                            What happens to the transaction, if the beneficiary details provided are incorrect OR erroneously beneficiary details are provided are incorrect?
                        </li>
                        <p>
                            <span class="faq-answer">Answer:</span>&nbsp; Bank does not verify the Beneficiary Details given for outward NEFT transaction, and its fate entirely depends upon the Beneficiary Bank. If the beneficiary details provided matches at the Beneficiary Bank, the credit will be passed on, as per the details. But, in case the Beneficiary Bank rejects the transaction, for ANY reason, the customer account will be credited.
                        </p>
                    </ul>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    </body>
</html>