<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <p>This is the home page</p>
        <%if(locals.user) { %>
            <p><%=user.email%></p>
            <p><%=user.name%></p>
            <a href="/user/signout">Sign Out</a>
        <% } else { %>
        <a href="/user/login">Login</a><br>
        <a href="/user/signup">Sign Up</a>
        <% } %>
    </body>
</html>