<!DOCTYPE html>
<html>
    <head>
        <title>Reset Password</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<%=assetPath('css/notificationTemplate.css')%>">
    </head>
    <body style="background-image: url('<%=assetPath(`images/backgroundimage.jpg`)%>');">
        <div class="container">
            <div class="text">
                <%=message%>
            </div>
        </div>
    </body>
</html>