html {
  font-size: 16px; }

body {
  margin: 0px;
  padding: 0px;
  background-image: url("/images/backgroundimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

.heading {
  font-size: 2rem; }

.header {
  border-bottom: 4px solid red; }

.navbar-item {
  background-color: orange;
  border-right: 4px solid red; }

.box {
  height: auto;
  background-color: lightgrey;
  padding: 1rem;
  display: flex;
  flex-direction: column; }

.loans-header {
  font-size: 2rem;
  color: red;
  height: 10%; }

.loans-box {
  height: 90%;
  min-height: 63vh;
  border: 2px solid red;
  padding: 1rem; }

.loans-box-desc {
  height: 90%;
  border: 2px solid red;
  padding: 1rem;
  margin-bottom: 1rem;
  min-height: 30vh;
  margin-bottom: 3rem; }

.dropdown-menu {
  padding: 0px; }
  .dropdown-menu a {
    border-bottom: 1px solid black; }

.flex-loans-box .cancelButton {
  width: 15%;
  min-width: 150px; }

.flex-loans-box a {
  text-decoration: none;
  color: white; }
  .flex-loans-box a:hover {
    color: red; }
