<div>
    <p>Click the link below to verify your email</p>
    <br>
    <br>
    <br>
    <p><a href="http://online-banking-application.xyz/user/verify-email/<%=verifyEmail.accesstoken%>">Verify Email</a></p>
    <br>
    <br>
    <p>Thanks</p>
</div>